@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* .dark {
  @apply bg-[#1a1a1a] text-[#e4e4e4];
} */
.dark {
  color: #f7f7f7;
  background-color: #131313;
  opacity: 1;
  /* background-image: radial-gradient(#c1c1c1 1.25px, #131313 1.25px); */
  background-size: 25px 25px;
}
.navDark {
  @apply bg-black text-white;
}
/* .dark {
  @apply bg-slate-900 text-white;
} */

.btn {
  @apply rounded-full border-[2px] border-[#d93025]  border-transparent bg-[#d93025] px-6 py-2 text-center font-medium text-white hover:text-[#d93025] hover:border-[2px] hover:border-[#d93025] hover:bg-white;
}
.btn-del {
  @apply inline-block rounded-md border border-transparent bg-red-600 px-4 py-2 text-center font-medium text-white hover:bg-red-700;
}

/* .btn {
  @apply inline-block rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-center font-medium text-white hover:bg-indigo-700;
} */
/* .btn {
  @apply px-4 py-2 my-2 bg-[#d93025] text-white rounded-md text-lg;
} */
.menu-btn {
  @apply px-10 py-5  bg-[#d93025] text-white border-[2px] rounded-md text-lg;
}
.menu-btn:hover {
  @apply px-10 py-5  bg-[#ffffff] text-[#d93025] rounded-md border-[2px] border-[#d93025] text-lg;
}
/* .glassyEffect {
  @apply z-10 bg-gray-400  rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 border border-gray-100;
} */

.heading {
  @apply text-xl font-bold text-[#d93025] text-center py-2 pt-10;
}
.subHeading {
  @apply text-3xl font-bold text-center pb-10 pb-5;
}

/* className={`glassyEffect ${darkMode && "hover:shadow-2xl hover:shadow-[#000000]"}`} */
